<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script type="application/javascript" src="./app/vendor/keymaster.js"></script>
    <title>Balloon Souls</title>
</head>
<body>
  <div id="title" class="eightbit" >BALLOON SOULS</div>
  <div id="ui">
    <div id="score" >SCORE: </div>
    </br>
    <div id="streak" >BALLOON STREAK: </div>
    <span id='fire1'></span>
    <span id='fire2'></span>
    <span id='fire3'></span>
    <span id='fire4'></span>
    <span id='fire5'></span>
    <span id='fire6'></span>
    <span id='fire7'></span>
    <span id='fire8'></span>
    <span id='fire9'></span>
    <span id='fire10'></span>
  </div>
    <div class="content">
        <canvas id="balloon_souls_canvas"></canvas>
    </div>
    <div id="welcome" class="eightbit"><span style="color: white">Any key to start</span>
      </br></br>
        <span>"a" to move left : "d" to move right</span>
      </br></br>
        <span style="color: red">tap "," to float higher!</span>
    </div>
    <!-- <div id="btnStart" class="eightbit">Come get some</div> -->
    <div id="youDied" class="animated fadeIn">YOU DIED</div>

</body>
</html>
