<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script type="application/javascript" src="./app/vendor/keymaster.js"></script>
    <title>Balloon Souls</title>
</head>
<body>
  <h1 id="title" class="eightbit" >Welcome to Balloon Souls</h1>
    <div class="content">
        <canvas id="balloon_souls_canvas"></canvas>
    </div>
    <div id="btnStart" class="eightbit">Come get some</div>

</body>
</html>
